html {
   font-size: 22px
}
body {
   background-color: whitesmoke;
   color: black;

}

a {
   color: blue;
}

a:visited {
   color: purple;

}

a:hover, a:active {
   color: #eee;
}



